.button-3d {
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px #675E79;
  -moz-box-shadow: 0px 6px 0px #675E79;
  box-shadow: 0px 6px 0px #675E79;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #675E79;
    -moz-box-shadow: 0px 2px 0px #675E79;
    box-shadow: 0px 2px 0px #675E79;
    position:relative;
    top:4px;
}


body#body{
    user-select: none;
     -webkit-touch-callout: none;
     -webkit-user-select: none; 
    height: 100vh; 
    background-color: #675E79;

    background: -webkit-linear-gradient(left top, #675E79,  #D0A0A1 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #675E79,  #D0A0A1 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #675E79,  #D0A0A1 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #675E79,  #D0A0A1 ); /* Standard syntax (must be last) */
}


h3#timeTitle{

    text-align: center;
    margin-bottom: 30px;
}


input#inputAgenda{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    width: 50%;
    font-size: 1.65em;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #fff;    
    color: #fff;
}

label{
    font-size: 1.2em;
    display: inline-block;
}

input#min, input#hour{
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    width: 40%;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.mini-clock{
    width: 80%;
    padding-top: 60px;
    text-align: center;
}


#top{
    width: 100vw;
    height: 70vh;
    background-color: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}


#bottom{
    background-color: transparent;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fa-4x{
    color: #fff;
}

.slow{
    border: none;
    display: block;
    background-color: transparent;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Open Sans Condensed', sans-serif;
}



#timer{
    
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#agenda{
     height: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
}


.shadow{
    box-shadow: 0 0 20px #675E79;
    -webkit-box-shadow: 0 0 20px  #675E79;

    align-items: center;
    justify-content: center;
}

.btn-slow{
    background-color: #282044;
    color: #FEC722;
    width: 70%;

    

    /*191b3e  + e6312e*/
    /*FEC722 + 282044*/
}



@media screen and (min-width: 480px) {

body#body{
    display: flex;
}
    
#top{
    width: 70%;
    height: 100vh;
}

#bottom{
    flex: 1;
    height: 100vh;
}

.slow{
        width: 15vw;
        height: 15vw;
    }
}


